{
  "extension": [
    ".js"
  ],
  "report-dir": "./coverage",
  "temp-dir": "./.nyc_output",

  "check-coverage": true,
  "lines": 100,
  "functions": 100,
  "branches": 100,
  "reporter": ["lcov", "html", "text"]

}